@-moz-document domain('mios.com'){

    .greySidebar, .leftSidebar {
        width: 250px;
    }

    #div_content {
        width: calc(~'100% - 10px')
    }

    /*.device_view_device_wrapper {
        zoom: 80%
    }*/

    #welcome_container {
        font-size: 26px;
    }
    
    .logoHolder img {
       margin: 5px auto;
    }
    
    #top_status_box {
       position: fixed;
       z-index: 100003;
    }
    
    #modal_overlay {
        background: url('http://i.imgur.com/eXaBQIG.gif') no-repeat scroll center center black;
        opacity: 0.5;
    }
    
    #view_by_favorites_container .select_favorites_title {
        line-height: 25px;
    }
    
    #view_by_favorites_container device_unpinned {
        height: 25px;
    }
 
    .appListView {
        border: none;
    }
    
    #create_scene_page_luup_code_textarea {
        font-family: Consolas, Monaco, Courier, monospace;
          font-size: 14px;
    }
}
